.top{
font-family: 'Karla', sans-serif;
text-align: center;
background-image: url("https://images.unsplash.com/photo-1425342605259-25d80e320565?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  height:150px;
  opacity:.9;
  background-position: center bottom;
  color: white;
  background-repeat:no-repeat;


}

.navbar-brand {
    font-family: 'Karla', sans-serif;
text-align: center;


}
.tp{
    font-size: 55px;
    margin-top: -20px;
}
.lead{
    font-size: 25px;
}

*{
     text-transform: uppercase;
     text-align: center;

}
.ll{
    color:#b7710f;
    font-size: 26px;
}

.btn{
    color:#b7710f;
    border: #2d4552 1px solid;
    height: 50px;
}
.ptxt{
color:#2d4552;
font-size: 30px;
text-align: 

}